* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  border-top: 6px var(--accent-bright) solid;
  padding-left: 3rem;
  padding-right: 3rem;
}

header {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

header h1 {
  color: var(--primary);
}

.blurb {
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: justify;
}

.blurb div {
  border-left: 4px solid var(--accent-moderate);
  padding-left: 0.75rem;
}

.blurb a {
  color: var(--accent-moderate);
  text-decoration: none;
  border-bottom: 3px dotted var(--accent-moderate);
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  max-width: 1200px;
}

.card {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 2rem;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
}

.card .btn {
  margin-top: auto;
  justify-self: flex-end;
}

.card p {
  padding-right: 1rem;
  padding-left: 1rem;
}

img {
  width: 100%;
  display: block;
  transition: all 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 100px;
  background: var(--accent-bright);
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  width: 90%;
}

.btn:hover {
  opacity: 0.9;
}

@media (max-width: 450px) {
  body {
    padding: 1.5rem;
  }

  .blurb {
    text-align: left;
  }

  #root {
    grid-template-columns: 1fr;
  }

  #root .btn {
    width: 90%;
  }
}
