.btn {
  padding: 1rem;
  width: 100%;
  border: none;
  background: grey;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--font-body);
  letter-spacing: 1px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background: var(--accent);
  color: var(neutral1);
  margin-top: 1.5rem;
}

.btn:hover {
  background: var(--neutral1);
  color: var(--primary);
}
