footer {
  /* display: ; */
  background: var(--primary);
  color: white;
  padding-bottom: 2rem;
}

footer .logo path {
  fill: white;
}

footer a {
  color: white;
}

.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-start;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 1rem;
}

.footer-links ul li a {
  text-decoration: none;
}

footer .attribution {
  padding-top: 4rem;
  text-align: center;
}
