header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header-nav a {
  text-decoration: none;
  padding: 1rem;
}
