@import "responsive";

.card {
  background: white;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);

  h2 {
    margin-bottom: 1rem;
  }

  p {
    color: $grayish-blue;
    margin-bottom: 2rem;
  }

  &-img {
    text-align: end;
  }

  &-cyan {
    border-top: 5px solid $cyan;
  }
  &-red {
    border-top: 5px solid $red;
  }
  &-orange {
    border-top: 5px solid $orange;
  }
  &-blue {
    border-top: 5px solid $blue;
  }

  @include for-phone {
    padding: 1rem 2rem;
  }
}
